@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply font-sans bg-white text-textBlack dark:bg-bgDark dark:text-gray-100;
	}
}

@layer components {
	.text-gradient {
		background: linear-gradient(285.44deg, #d525e3 8.3%, #4474e4 86.39%);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.section-title {
		@apply relative mb-8 text-4xl font-bold text-center;
	}

	.section-title::after {
		@apply absolute left-0 right-0 w-20 h-1 mx-auto;
		content: "";
		top: calc(100% + 11px);
		background-image: linear-gradient(
			285.44deg,
			#d525e3 8.3%,
			#4474e4 86.39%
		);
	}

	.btn-full {
		background-image: linear-gradient(
			285.44deg,
			#d525e3 8.3%,
			#4474e4 86.39%
		);
		@apply inline-block px-12 py-3 font-bold text-white transition-all rounded-md bg-accent;
		&:hover {
			background-image: linear-gradient(
				285.44deg,
				#a81db3 8.3%,
				#244799 86.39%
			);
		}
		> span {
			@apply h-6;
		}
	}

	.btn-hollow {
		@apply inline-block px-12 py-3 font-bold transition-all bg-transparent border-2 rounded-md dark:text-white border-accent hover:bg-accent hover:text-white;
		> span {
			@apply h-6;
		}
	}

	.skills-subtitle {
		@apply mt-10 mb-6 text-xl font-medium text-center sm:mt-8 sm:mb-4 sm:text-left;
	}

	.skills-wapper {
		@apply grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
	}

	.skill {
		@apply flex flex-col items-center justify-center w-32 h-32 p-4 mx-auto space-y-2 border border-gray-500 rounded-md sm:mx-0;
		> i {
			@apply text-3xl;
		}
	}

	.project {
		@apply grid p-4 mb-16 border rounded-md sm:p-8 border-textBlack dark:border-gray-500;
		grid-template-columns: 1fr 30%;
		grid-gap: 2rem;

		img {
			@apply w-full rounded-md;
		}

		.project-info {
			@apply flex flex-col md:px-4 xl:pb-0 xl:p-4;
		}

		.project-name {
			@apply relative mb-10 text-3xl font-semibold sm:text-4xl;
			&::after {
				@apply absolute left-0 right-0 w-20 h-1;
				content: "";
				top: calc(100% + 11px);
				background-image: linear-gradient(
					285.44deg,
					#d525e3 8.3%,
					#4474e4 86.39%
				);
			}
		}

		p {
			@apply mb-4;
		}

		.project-technology {
			@apply mb-8 text-4xl xl:mb-0;
			h5 {
				@apply mb-2 text-lg font-semibold xl:text-base;
			}
			> div {
				@apply mb-2;
			}
		}

		.project-buttons {
			@apply flex flex-col mt-auto space-y-4 sm:space-y-0 sm:space-x-4 sm:flex-row;

			.btn-full,
			.btn-hollow {
				@apply justify-center;
			}
		}
	}

	.project:nth-child(even) {
		grid-template-columns: 30% 1fr;
		.project-image-wrapper {
			@apply col-start-2;
		}
		.project-info {
			@apply col-start-1 row-start-1;
		}
	}
}

.Typewriter__cursor {
	font-weight: normal;
}

header {
	@apply font-semibold text-white;
	border-bottom: 2px solid rgba(212, 212, 212, 0.089);
	backdrop-filter: blur(4px);

	.header-container {
		grid-template-columns: max-content 1fr;
	}
}

.nav-list {
	@apply flex flex-col py-6 pl-6 mt-5 text-right justify-evenly sm:p-0 sm:mt-0 sm:flex-row sm:text-left sm:space-x-6;
}

.nav-link {
	@apply relative p-2 transition-all;
	&:hover::after {
		@apply absolute left-0 w-full top-9 bg-accent;
		content: "";
		height: 2px;
		background-image: linear-gradient(
			285.44deg,
			#d525e3 8.3%,
			#4474e4 86.39%
		);
	}
	&.active::after {
		@apply absolute left-0 w-full bg-textBlack dark:bg-white top-9;
		content: "";
		height: 2px;
		background-image: none;
	}
}

/* https://codepen.io/aaroniker/pen/KGpXZo */
.darkMode-toggle {
	cursor: pointer;
	input {
		display: none;
		& + div {
			border-radius: 50%;
			width: 22px;
			height: 22px;
			position: relative;
			box-shadow: inset 8px -8px 0 0 #fff;
			transform: scale(1) rotate(-2deg);
			transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
			&:before {
				content: "";
				width: inherit;
				height: inherit;
				border-radius: inherit;
				position: absolute;
				left: 0;
				top: 0;
				transition: background 0.3s ease;
			}
			&:after {
				content: "";
				width: 4px;
				height: 4px;
				border-radius: 50%;
				margin: -2px 0 0 -2px;
				position: absolute;
				top: 50%;
				left: 50%;
				box-shadow: 0 -10px 0 #0e2431, 0 10px 0 #0e2431,
					9px 5px 0 #0e2431, -9px 5px 0 #0e2431, 9px -5px 0 #0e2431,
					-9px -5px 0 #0e2431;
				transform: scale(0);
				transition: all 0.3s ease;
			}
		}
		&:checked + div {
			box-shadow: inset 16px -16px 0 0 #fff;
			transform: scale(0.8) rotate(0deg);
			transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s,
				width 0.3s ease 0.1s, height 0.3s ease 0.1s;
			width: 18px;
			height: 18px;
			&:before {
				background: #0e2431;
				transition: background 0.3s ease 0.1s;
			}
			&:after {
				transform: scale(1.5);
			}
		}
	}
}

.nav-hamburger {
	span:nth-child(1) {
		top: 15%;
	}

	span:nth-child(2),
	span:nth-child(3) {
		top: 50%;
	}

	span:nth-child(4) {
		top: 85%;
	}
}

.nav-hamburger.open {
	span:nth-child(1) {
		top: 50%;
		width: 0%;
		left: 50%;
	}

	span:nth-child(2) {
		transform: rotate(45deg);
	}

	span:nth-child(3) {
		transform: rotate(-45deg);
	}

	span:nth-child(4) {
		top: 50%;
		width: 0%;
		left: 50%;
	}
}

.nav-hamburger {
	@apply relative w-6 cursor-pointer;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;

	span {
		@apply absolute left-0 block w-full bg-textBlack;
		height: 2px;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
	}
}

@media (max-width: 1280px) {
	.project {
		grid-template-columns: 1fr;

		&:nth-child(even) {
			grid-template-columns: 1fr;
			.project-image-wrapper {
				@apply col-start-1;
			}
			.project-info {
				@apply col-start-1 row-start-2;
			}
		}
	}
}

@media (max-width: 640px) {
	nav {
		@apply col-span-2 overflow-hidden transition-all max-h-0;

		&.open {
			max-height: 300px;
		}
	}

	.nav-list {
		grid-gap: 2rem;
	}
}

@media (max-width: 447px) {
	.skill:nth-child(odd) {
		margin-right: 0;
	}

	.skill:nth-child(even) {
		margin-left: 0;
	}
}
